* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #faf8f8;
    color: #212529;

}

/* HERO */
.container-hero {
    background-image: url(../images/img-fondo-portafolio3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    padding: 60px 0;
}

.hero-texto {
    background: rgba(255, 255, 255, 0.651);
    border-radius: 20px;
    padding: 20px;
}

/* TITULO */
.titulo {
    color: #a855f7;
    font-weight: 700;
}

/* BOTON */
.btn-portafolio {
    background-color: #600231;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.btn-portafolio:hover {
    background-color: #db2777;
    color: white;
}

/* PERFIL */
.perfil-img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

/* CARDS ICONOS */

.skills-section {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 60px 0;
}

.skills-section h2 {
    margin-top: 20px;
    font-weight: 700;
    color: #600231;
}

.card-tech {
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card-tech:hover {
    transform: translateY(-5px);
}

.icono-card {
    font-size: 40px;
    color: #600231;
    transition: transform 0.3s ease;
}

.icono-card:hover {
    transform: scale(1.2);
    color: #db2777;
}

.habilidades-profesionales {
    margin-top: 40px;
}

ul {
    margin-top: 40px;
}

/* CARDS PORTAFOLIO */

.card {
    margin-top: 20px;
    height: 100%;
    border-radius: 15px;
}

img {
    object-fit: cover;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a {
  text-decoration: none;
}

/* CARDS EXPERIENCIA LABORAL */

.experience-section {
  padding: 0;
}

.experience-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 22px;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  background: #fff;
  transition: all 0.25s ease;
}

.experience-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  border-color: #d1d5db;
}

.company-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: #f9fafb;
  padding: 6px;
  border-radius: 12px;
}

.company-name {
  font-size: 14px;
  color: #6b7280;
}

/* RESPONSIVE HERO */
@media (max-width: 768px) {
    .hero-texto {
        text-align: center;
    }
}

.footer{
    padding: 40px 0;
}